{% import '@SpyckVisualization/chart.html.twig' as chart %}

{% trans_default_domain 'SpyckVisualizationBundle' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ dashboard.name }}</title>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="header">
                {% block header %}
                {% endblock %}
            </div>

            {% if mail.inline is same as(true) %}
                <div class="content">
                    {% for block in dashboard.blocks %}
                        <div class="widget">
                            {% block widget %}
                                <h2>{{ block.name }}</h2>
                                {% if block.filterView is same as(true) and block.widget.filters|length > 0 %}
                                    <div class="filter">
                                        {% block filter %}
                                            <h3>Active filters</h3>
                                            {% for filter in block.widget.filters %}
                                                {{ filter.name|trans }}: {{ filter.data|join(', ') }}
                                                <br>
                                            {% endfor %}
                                        {% endblock %}
                                    </div>
                                {% endif %}
                                <div class="scroll">
                                    {% set widget = block.widget %}

                                    {% set data = widget.data %}

                                    {% if data|length > 0 %}
                                        <div class="data">
                                            {% block data %}
                                                {% if hasChart(block) %}
                                                    {% set chart = getChart(block) %}

                                                    <p>
                                                        <img src="{{ email.image('@charts/' ~ chart|split('/')|last) }}" alt="{{ block.name }}">
                                                    </p>
                                                {% else %}
                                                    {% set fields = getFields(widget.fields) %}

                                                    <table class="data" {% block dataTableAttribute %}width="100%" cellspacing="0" cellpadding="5" border="0" align="left"{% endblock %}>
                                                        <thead>
                                                            {% if hasMultipleFields(widget.fields) %}
                                                                <tr>
                                                                    {% for field in widget.fields %}
                                                                        {% if isMultipleField(field) %}
                                                                            <th colspan="{{ field.children|length }}" class="multiple">{{ field.name }}</th>
                                                                        {% else %}
                                                                            <th>&nbsp;</th>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    <th>&nbsp;</th>
                                                                </tr>
                                                            {% endif %}
                                                            <tr>
                                                                {% for field in fields %}
                                                                    <th class="{{ getClasses(field)|join(' ') }}">{{ field.name }}</th>
                                                                {% endfor %}
                                                                <th>&nbsp;</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for row in data %}
                                                                <tr>
                                                                    {% for fieldIndex, field in fields %}
                                                                        {% set cell = attribute(row, fieldIndex) %}

                                                                        <td class="{{ getClasses(field)|join(' ') }}" style="{{ getStyles(field, cell.value)|map((value, key) => "#{key}: #{value}")|join('; ') }}">
                                                                            {{ chart.getPreValue(field.type, field.formats, cell.value, null) }}
                                                                            {{ chart.getValue(field.type, field.config, cell.value, null) }}
                                                                            {% if mail.route and field.routes|length > 0 %}
                                                                                <div class="route">
                                                                                    {% block route %}
                                                                                        {% for route in cell.routes %}
                                                                                            <a href="{{ absolute_url(route.url) }}" target="_blank" title="{{ route.name }}">{{ route.name }}</a>
                                                                                            <span>&nbsp;</span>
                                                                                        {% endfor %}
                                                                                    {% endblock %}
                                                                                </div>
                                                                            {% endif %}
                                                                        </td>
                                                                    {% endfor %}
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% endif %}
                                            {% endblock %}
                                        </div>
                                    {% else %}
                                        <p>{{ block.descriptionEmpty }}</p>
                                    {% endif %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="footer">
                {% block footer %}
                {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
