{% macro getClass(type, config) %}
    {% set classes = [type] %}

    {% for format in config.formats %}
        {% set name = 'format' ~ format.name|capitalize %}
        {% if name not in classes %}
            {% set classes = classes|merge([name]) %}
        {% endif %}
    {% endfor %}

    {{ classes|join(' ') }}
{% endmacro %}

{% macro getStyle(type, config, value) %}
    {% if type is same as(constant('Spyck\\VisualizationBundle\\Model\\Field::TYPE_CURRENCY')) or type is same as(constant('Spyck\\VisualizationBundle\\Model\\Field::TYPE_NUMBER')) or type is same as(constant('Spyck\\VisualizationBundle\\Model\\Field::TYPE_PERCENTAGE')) %}
        {% for format in config.formats %}
            {% set color = null %}

            {% if format.name is same as('condition') %}
                {% if color is null %}
                    {% if format.start is not null and format.end is not null %}
                        {% if value >= format.start and value <= format.end %}
                            {% set color = format.color %}
                        {% endif %}
                    {% elseif format.start is not null %}
                        {% if value >= format.start %}
                            {% set color = format.color %}
                        {% endif %}
                    {% elseif format.end is not null %}
                        {% if value <= format.end %}
                            {% set color = format.color %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if color is not null %}
                color: #{{ color }};
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro getValue(type, config, value, view) %}
    {% import _self as self %}

    {% if value is not null %}
        {% if type is same as(constant('Spyck\\VisualizationBundle\\Model\\Field::TYPE_ARRAY')) %}
            {% if value|length > 0 %}
                <ul>
                    {% for val in value %}
                        <li>{{ val }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                -
            {% endif %}
        {% elseif type is same as(constant('Spyck\\VisualizationBundle\\Model\\Field::TYPE_BOOLEAN')) %}
            {% if value is same as(true) %}
                Yes
            {% elseif value is same as(false) %}
                No
            {% else %}
                -
            {% endif %}
        {% elseif type is same as(constant('Spyck\\VisualizationBundle\\Model\\Field::TYPE_CURRENCY')) %}
            &euro; {{ self.getValueOfNumber(config, value) }}
        {% elseif type is same as(constant('Spyck\\VisualizationBundle\\Model\\Field::TYPE_DATE')) %}
            {{ value|date('Y-m-d') }}
        {% elseif type is same as(constant('Spyck\\VisualizationBundle\\Model\\Field::TYPE_DATETIME')) %}
            {{ value|date('Y-m-d H:i:s') }}
        {% elseif type is same as(constant('Spyck\\VisualizationBundle\\Model\\Field::TYPE_IMAGE')) %}
            {% if view is same as(constant('Spyck\\VisualizationBundle\\View\\ViewInterface::PDF')) %}
                <img src="{{ getDirectory(value) }}" alt="" width="32" height="32" align="top">
            {% else %}
                <img src="{{ absolute_url(value) }}" alt="" width="32" height="32" align="top">
            {% endif %}
        {% elseif type is same as(constant('Spyck\\VisualizationBundle\\Model\\Field::TYPE_NUMBER')) %}
            {{ self.getValueOfNumber(config, value) }}
        {% elseif type is same as(constant('Spyck\\VisualizationBundle\\Model\\Field::TYPE_PERCENTAGE')) %}
            {{ self.getValueOfNumber(config, value * 100) }}%
        {% elseif type is same as(constant('Spyck\\VisualizationBundle\\Model\\Field::TYPE_POSITION')) %}
            {% if value is same as(0.0) %}
                {% set image = '/images/position.png' %}
            {% elseif value > 0 %}
                {% set image = '/images/position_up.png' %}
            {% else %}
                {% set image = '/images/position_down.png' %}
            {% endif %}

            {% if view is same as(constant('Spyck\\VisualizationBundle\\View\\ViewInterface::PDF')) %}
                <img src="{{ getDirectory(image) }}" alt="" width="16" height="16" align="top">
            {% else %}
                <img src="{{ absolute_url(image) }}" alt="" width="16" height="16" align="top">
            {% endif %}
            {% if value is not same as(0.0) %}
                <span>{{ value }}</span>
            {% endif %}
        {% elseif type is same as(constant('Spyck\\VisualizationBundle\\Model\\Field::TYPE_TIME')) %}
            {{ value|date('H:i:s') }}
        {% else %}
            {% if view is same as(constant('Spyck\\VisualizationBundle\\View\\ViewInterface::PDF')) %}
                {{ value|u.truncate(40, '...') }}
            {% else %}
                {{ value }}
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro getValueOfNumber(config, value) %}
    {% set precision = 0 %}

    {% if config.precision is not null %}
        {% set precision = config.precision %}
    {% endif %}

    {% if config.abbreviation is same as(true) %}
        {{ getAbbreviation(value, precision) }}
    {% else %}
        {{ value|number_format(precision, ',', '.') }}
    {% endif %}
{% endmacro %}

{% macro getPreValue(type, config, value, view) %}
    {% if type is same as(constant('Spyck\\VisualizationBundle\\Model\\Field::TYPE_CURRENCY')) or type is same as(constant('Spyck\\VisualizationBundle\\Model\\Field::TYPE_NUMBER')) or type is same as(constant('Spyck\\VisualizationBundle\\Model\\Field::TYPE_PERCENTAGE')) %}
        {% for format in config.formats %}
            {% if format.name is same as('databar') %}
                <span style="background-color: {{ '#' ~ format.color }};">
                    {% if view is same as(constant('Spyck\\VisualizationBundle\\View\\ViewInterface::PDF')) %}
                        <img src="{{ getDirectory('/images/blank.png') }}" alt="" width="{{ value * 100|round }}" height="14">
                    {% else %}
                        <img src="{{ absolute_url('/images/blank.png') }}" alt="" width="{{ value * 100|round }}" height="14">
                    {% endif %}
                </span>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}
