{% macro getClass(type, formats) %}
    {% set classes = [type] %}

    {% for format in formats %}
        {% set name = 'format' ~ format.name|capitalize %}
        {% if name not in classes %}
            {% set classes = classes|merge([name]) %}
        {% endif %}
    {% endfor %}

    {{ classes|join(' ') }}
{% endmacro %}

{% macro getStyle(type, formats, value) %}
    {% if type is same as(constant('Spyck\\VisualizationBundle\\Field\\FieldInterface::TYPE_CURRENCY')) or type is same as(constant('Spyck\\VisualizationBundle\\Field\\FieldInterface::TYPE_NUMBER')) or type is same as(constant('Spyck\\VisualizationBundle\\Field\\FieldInterface::TYPE_PERCENTAGE')) %}
        {% for format in formats %}
            {% set color = null %}
            {% set backgroundColor = null %}

            {% if format.name is same as('condition') %}
                {% set condition = false %}

                {% if format.operator is same as(constant('Spyck\\VisualizationBundle\\Format\\ConditionFormat::OPERATOR_EQUAL')) %}
                    {% if format.value is iterable %}
                        {% set condition = value in format.value %}
                    {% else %}
                        {% set condition = value == format.value %}
                    {% endif %}
                {% elseif format.operator is same as(constant('Spyck\\VisualizationBundle\\Format\\ConditionFormat::OPERATOR_GREATER_THAN')) %}
                    {% set condition = value > format.value %}
                {% elseif format.operator is same as(constant('Spyck\\VisualizationBundle\\Format\\ConditionFormat::OPERATOR_GREATER_THAN_OR_EQUAL')) %}
                    {% set condition = value >= format.value %}
                {% elseif format.operator is same as(constant('Spyck\\VisualizationBundle\\Format\\ConditionFormat::OPERATOR_LESS_THAN')) %}
                    {% set condition = value < format.value %}
                {% elseif format.operator is same as(constant('Spyck\\VisualizationBundle\\Format\\ConditionFormat::OPERATOR_LESS_THAN_OR_EQUAL')) %}
                    {% set condition = value <= format.value %}
                {% endif %}

                {% if color is null %}
                    {% if condition and format.background is same as(false) %}
                        {% set color = format.color %}
                    {% endif %}
                {% endif %}

                {% if backgroundColor is null %}
                    {% if condition and format.background is same as(true) %}
                        {% set color = format.color %}
                    {% endif %}
                {% endif %}
            {% endif %}

            {% if color is not null %}
                color: #{{ color|slice(2) }};
            {% endif %}

            {% if backgroundColor is not null %}
                background-color: #{{ backgroundColor|slice(2) }};
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro getValue(type, config, value, view) %}
    {% import _self as self %}

    {% if value is not null %}
        {% if type is same as(constant('Spyck\\VisualizationBundle\\Field\\FieldInterface::TYPE_ARRAY')) %}
            {% if value|length > 0 %}
                <ul>
                    {% for val in value %}
                        <li>{{ val }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                -
            {% endif %}
        {% elseif type is same as(constant('Spyck\\VisualizationBundle\\Field\\FieldInterface::TYPE_BOOLEAN')) %}
            {% if value is same as(true) %}
                Yes
            {% elseif value is same as(false) %}
                No
            {% else %}
                -
            {% endif %}
        {% elseif type is same as(constant('Spyck\\VisualizationBundle\\Field\\FieldInterface::TYPE_CURRENCY')) %}
            &euro; {{ self.getValueOfNumber(config, value) }}
        {% elseif type is same as(constant('Spyck\\VisualizationBundle\\Field\\FieldInterface::TYPE_DATE')) %}
            {{ value|date('Y-m-d') }}
        {% elseif type is same as(constant('Spyck\\VisualizationBundle\\Field\\FieldInterface::TYPE_DATETIME')) %}
            {{ value|date('Y-m-d H:i:s') }}
        {% elseif type is same as(constant('Spyck\\VisualizationBundle\\Field\\FieldInterface::TYPE_IMAGE')) %}
            {% if view is same as(constant('Spyck\\VisualizationBundle\\View\\ViewInterface::PDF')) %}
                <img src="{{ getDirectory(value) }}" alt="" width="32" height="32" align="top">
            {% else %}
                <img src="{{ absolute_url(value) }}" alt="" width="32" height="32" align="top">
            {% endif %}
        {% elseif type is same as(constant('Spyck\\VisualizationBundle\\Field\\FieldInterface::TYPE_NUMBER')) %}
            {{ self.getValueOfNumber(config, value) }}
        {% elseif type is same as(constant('Spyck\\VisualizationBundle\\Field\\FieldInterface::TYPE_PERCENTAGE')) %}
            {{ self.getValueOfNumber(config, value * 100) }}%
        {% elseif type is same as(constant('Spyck\\VisualizationBundle\\Field\\FieldInterface::TYPE_POSITION')) %}
            {% if value > 0 %}
                <span class="up">&#11205;</span>
                {{ value }}
            {% elseif value < 0 %}
                <span class="down">&#11206;</span>
                {{ value|abs }}
            {% endif %}
        {% elseif type is same as(constant('Spyck\\VisualizationBundle\\Field\\FieldInterface::TYPE_TIME')) %}
            {{ value|date('H:i:s') }}
        {% else %}
            {% if view is same as(constant('Spyck\\VisualizationBundle\\View\\ViewInterface::PDF')) %}
                {{ value|u.truncate(40, '...') }}
            {% else %}
                {{ value }}
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro getValueOfNumber(config, value) %}
    {% set precision = 0 %}

    {% if config.precision is not null %}
        {% set precision = config.precision %}
    {% endif %}

    {% if config.abbreviation is same as(true) %}
        {{ getAbbreviation(value, precision) }}
    {% else %}
        {{ value|number_format(precision, ',', '.') }}
    {% endif %}
{% endmacro %}

{% macro getPreValue(type, formats, value, view) %}
    {% if type is same as(constant('Spyck\\VisualizationBundle\\Field\\FieldInterface::TYPE_CURRENCY')) or type is same as(constant('Spyck\\VisualizationBundle\\Field\\FieldInterface::TYPE_NUMBER')) or type is same as(constant('Spyck\\VisualizationBundle\\Field\\FieldInterface::TYPE_PERCENTAGE')) %}
        {% for format in formats %}
            {% if format.name is same as('bar') %}
                <span style="background-color: {{ '#' ~ format.color|slice(2) }};">
                    {% if view is same as(constant('Spyck\\VisualizationBundle\\View\\ViewInterface::PDF')) %}
                        <img src="{{ getDirectory('/images/blank.png') }}" alt="" width="{{ value * 80|round }}" height="14">
                    {% else %}
                        <img src="{{ absolute_url('/images/blank.png') }}" alt="" width="{{ value * 80|round }}" height="14">
                    {% endif %}
                </span>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}
