{% extends '@SpyckVisualization/base.html.twig' %}

{% block body %}
    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
        <tbody>
            <tr>
                <td valign="top" align="left">
                    {{ parent() }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block header %}
    <h1>{{ mail.name }}</h1>
    {% if mail.route %}
        <a href="{{ absolute_url(dashboard.url) }}" target="_blank">Open dashboard</a>
    {% endif %}
    {% if mail.description is not null %}
        <p class="description">{{ mail.description }}</p>
    {% endif %}
{% endblock %}

{% block widget %}
    <table class="widget" {% block widgetTableAttribute %}width="100%" cellspacing="0" cellpadding="0" border="0" align="center"{% endblock %}>
        <tbody>
            <tr>
                <td valign="top" align="left">
                    {{ parent() }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block filter %}
    <table class="filter" {% block filterTableAttribute %}width="100%" cellspacing="0" cellpadding="5" border="0" align="left"{% endblock %}>
        <tbody>
            <tr>
                <td valign="top" align="left">
                    {{ parent() }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block footer %}
    <p>This e-mail was sent to: {{ email.to[0].address }}</p>
{% endblock %}
